body {
  font-family: sans-serif;
  text-align: center;
  margin: 2rem;
}

body {
  background: linear-gradient(to bottom, #f9f9f9, #eaeaea);
  color: #222;
}


nav {
  background-color: #222;
  padding: 15px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 15px;
}

nav a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffcc00;
}

section {
  padding: 40px 20px;
  text-align: center;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

body {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



